block scripts
  script(type='text/javascript', src='js/jquery.min.js')
  script(type='text/javascript', src='js/bootstrap.min.js')
  script(type='text/javascript', src='js/common.js')
  script(type='text/javascript', src='js/plugins.js')
